<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.hwangjiho.parking.mapper.ParkingFeeInfoMapper">

	<resultMap id="ParkingFeeInfoMap"
		type="com.hwangjiho.parking.domain.ParkingFeeInfo">
		<id property="feeId" column="FEE_ID" />
		<result property="vehicleId" column="VEHICLE_ID" />
		<result property="entryAt" column="ENTRY_AT" />
		<result property="exitAt" column="EXIT_AT" />
		<result property="useMinutes" column="USE_MINUTES" />
		<result property="freeMinutes" column="FREE_MINUTES" />
		<result property="finalFeeYen" column="TOTAL_FEE" />
	</resultMap>

	<!-- Oracle 11g: selectKey + 시퀀스, TIMESTAMP 명시 -->
	<insert id="insertPending"
		parameterType="com.hwangjiho.parking.domain.ParkingFeeInfo">
		<selectKey keyProperty="feeId" order="BEFORE"
			resultType="long">
			SELECT SEQ_PARKING_FEE.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO PARKING_FEE_INFO (
		FEE_ID, VEHICLE_ID, ENTRY_AT, EXIT_AT,
		USE_MINUTES, FREE_MINUTES, TOTAL_FEE
		) VALUES (
		#{feeId},
		#{vehicleId},
		#{entryAt,jdbcType=TIMESTAMP},
		#{exitAt,jdbcType=TIMESTAMP},
		#{useMinutes},
		#{freeMinutes},
		#{finalFeeYen}
		)
	</insert>

	<select id="selectById" parameterType="long"
		resultMap="ParkingFeeInfoMap">
		SELECT FEE_ID, VEHICLE_ID, ENTRY_AT, EXIT_AT, USE_MINUTES, FREE_MINUTES,
		TOTAL_FEE
		FROM PARKING_FEE_INFO
		WHERE FEE_ID = #{feeId}
	</select>

	<select id="selectPendingById" parameterType="long"
		resultMap="ParkingFeeInfoMap">
		SELECT FEE_ID, VEHICLE_ID, ENTRY_AT, EXIT_AT, USE_MINUTES, FREE_MINUTES,
		TOTAL_FEE
		FROM PARKING_FEE_INFO
		WHERE FEE_ID = #{feeId}
	</select>

	<!-- 11g 최신 1건: ROWNUM -->
	<select id="selectLatestPendingByCarId" parameterType="long"
		resultMap="ParkingFeeInfoMap">
		SELECT * FROM (
		SELECT FEE_ID, VEHICLE_ID, ENTRY_AT, EXIT_AT, USE_MINUTES, FREE_MINUTES,
		TOTAL_FEE
		FROM PARKING_FEE_INFO
		WHERE VEHICLE_ID = #{carId}
		ORDER BY FEE_ID DESC
		) WHERE ROWNUM = 1
	</select>
</mapper>
